body {
    background-color: rgb(72, 39, 44);
    display: flex;
    justify-content: center;
    
    font-family: 'Times New Roman', Times, serif;

    margin: 0;
    padding: 0;
}

.form-title{
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.2rem;
}

.container {
    background-color: white;
    margin-top: 2rem;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    /* gap: 8px; */
}

.error {
    color: red;
    margin-top: 0;
    font-size: .8rem;
}

input {
    appearance: none;
    /* border: 1px solid; */
    outline: none;
}

button {
    font-weight: 500;
}

input:valid {
    border: 1px solid rgb(2, 114, 2);
}

input:invalid {
    border: 1px solid rgb(255, 0, 0);
}

